<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Component 6</div>
        <div class="panel-body">

            <!--Feature-->
            <ul>
                <li>isPlatformBrowser : {{ isPlatformBrowser }}</li>
                <li>isPlatformServer : {{ isPlatformServer }}</li>
                <li>isPlatformWorkerApp : {{ isPlatformWorkerApp }}</li>
                <li>isPlatformWorkerUi : {{ isPlatformWorkerUi }}</li>
            </ul>

        </div>
    </div>
</div>